services:
  valkey:
    image: valkey/valkey
    container_name: valkey-server
    ports:
      - "6379:6379"
    volumes:
      - valkey_data:/data/valkey

  pg:
    image: postgres:16-alpine
    container_name: pg-server
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    expose:
      - "5432"
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/data/db'

  pgadmin:
    container_name: pg-admin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@app.com
      - PGADMIN_DEFAULT_PASSWORD=postgres
      - PGADMIN_PORT=54321
    ports:
      - "4321:80"
    depends_on:
      - pg
    logging:
      driver: none
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  alloy:
    image: grafana/alloy:v1.11.2
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - /etc/alloy/config.alloy
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy
      - alloy_data:/var/lib/alloy/data
    ports:
      - "4318:4318" # OTLP HTTP
      - "12345:12345" # Alloy UI
    depends_on:
      - tempo
      - loki
      - mimir
    networks:
      - observability

  tempo:
    image: grafana/tempo:latest
    command: ["-config.file=/etc/tempo.yaml"]
    user: "0:0"
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
      - tempo-data:/tmp/tempo
    ports:
      - "3200:3200" # Tempo query API
      - "3201:3201" # OTLP HTTP
    networks:
      - observability

  loki:
    image: grafana/loki:latest
    command: ["-config.file=/etc/loki/loki.yaml"]
    volumes:
      - ./loki.yaml:/etc/loki/loki.yaml
      - loki-data:/loki
    ports:
      - "3100:3100" # Loki API
    networks:
      - observability

  mimir:
    image: grafana/mimir:latest
    command: ["-config.file=/etc/mimir/mimir.yaml"]
    volumes:
      - ./mimir.yaml:/etc/mimir/mimir.yaml
    ports:
      - "9009:9009" # Mimir API
    networks:
      - observability

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3001:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    volumes:
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
    depends_on:
      - alloy
    networks:
      - observability

volumes:
  valkey_data:
  pg_data:
  pgadmin_data:
  grafana_data:
  tempo-data:
  loki-data:
  mimir-data:
  alloy_data:

networks:
  observability:
    driver: bridge
