# Roles
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: read-database-secrets
  namespace: database
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: read-app-secrets
  namespace: app
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: read-write-app-secrets
  namespace: app
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "create", "update", "delete"]
---
# Background Controller Read Database Secrets
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kyverno-background-read-database-secrets
  namespace: database
subjects:
  - kind: ServiceAccount
    name: kyverno-background-controller
    namespace: kyverno
roleRef:
  kind: Role
  name: read-database-secrets
  apiGroup: rbac.authorization.k8s.io
---
# Background Controller Write App Secrets
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kyverno-background-write-app-secrets
  namespace: app
subjects:
  - kind: ServiceAccount
    name: kyverno-background-controller
    namespace: kyverno
roleRef:
  kind: Role
  name: read-write-app-secrets
  apiGroup: rbac.authorization.k8s.io
---
# Admissions Controller Read Database Secrets
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kyverno-admissions-read-database-secrets
  namespace: database
subjects:
  - kind: ServiceAccount
    name: kyverno-admissions-controller
    namespace: kyverno
roleRef:
  kind: Role
  name: read-database-secrets
  apiGroup: rbac.authorization.k8s.io
---
# Admissions Controller Read App Secrets
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kyverno-admission-read-app-secrets
  namespace: app
subjects:
  - kind: ServiceAccount
    name: kyverno-admission-controller
    namespace: kyverno
roleRef:
  kind: Role
  name: read-app-secrets
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: sync-secrets
spec:
  rules:
    - name: sync-db-credentials
      match:
        any:
          - resources:
              kinds:
                - Secret
              namespaces:
                - database
              names:
                - database-cluster-app
      generate:
        apiVersion: v1
        kind: Secret
        name: database-credentials
        namespace: app
        synchronize: true
        clone:
          namespace: database
          name: database-cluster-app
